@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/* Remove desktop layout constraints */
body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
}
